* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.pd-10 {
  padding: 10px 0;
}
.m-10 {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #666;
}

.card {
  border: 1px solid #ccc;
  padding-bottom: 10px;
  border-radius: 4px;
}
.card:hover {
  box-shadow: 0px 1px 4px 4px #e0e0e0;
  cursor: pointer;
}
.card-name {
  color: #333;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #666;
  padding: 0 10px;
  font-size: 14px;
}
